.table-element {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-content {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-style: solid;
}

.table-cell {
  border-style: solid;
  padding: 8px;
  cursor: pointer;
  position: relative;
  min-width: 50px;
  min-height: 30px;
}

.table-cell:hover {
  outline: 1px solid #4A90E2;
  outline-offset: -1px;
}

.table-cell.editing {
  padding: 0;
}

.header-row {
  background-color: #f0f0f0;
}

.cell-input {
  width: 100%;
  height: 100%;
  border: 2px solid #4A90E2;
  padding: 6px;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
  text-align: inherit;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
}

.cell-input:focus {
  border-color: #2E5C8A;
}
